.comment id="comment-#{comment.id}"
  - cache comment do
    p=> comment.body

  -if can? :destroy, comment
    =link_to 'delete',
             comment_path(comment),
             class: 'delete-comment-link',
             method: :delete,
             remote: true,
             data: { type: :json }
